if TARGET_VARISCITE_DART6UL_EVK || TARGET_VARISCITE_DART6UL_IDE

config SYS_BOARD
	default "dart6ul"

config SYS_VENDOR
	default "variscite"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "dart6ul"

endif
